body {
    display: flex;
    justify-content: center;
    align-items: auto;
}

.grid {
    margin-top: 70px;
    width: 700px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    border: 5px, solid, black;
}

.grid div {
    width: 35px;
    height: 35px;
}

.invader {
    background-color: purple;
    border-radius: 100%;
}

.shooter {
    background-color: green;
}

.laser {
    background-color: orange;
}

.boom {
    background-color: red;
}